@use 'variaveis';

.evento {        
    background-color: variaveis.$eventBackGroundColor;

    &__container {
        max-width: 700px;
        width: 100%;
        margin: 0px auto;
        padding: 65px 0px;

        h2 {
            padding: 18px;
            color: variaveis.$subTitleColor;
        }

        p {
            text-indent: 8px;
            color: variaveis.$textColor;
        }

        .right {
            text-align: right;
        }

        &__item {
            display: flex;
            align-items: center;

            img {
                width: 300px;
                display: flex;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }

            &__text {
                border: 1px solid variaveis.$borderColor;
                border-left: none;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                padding: 14px 8px 12px 8px;
            }
        }
    }

    //Mobile Media Query
    @media (max-width: 767px) {

        &__container {

            p {
                padding: 10px 16px;
            }

            &__item {
                display: block;

                img {
                    display: block;
                    width: 100vw;
                    border-top-right-radius: 8px;
                    border-bottom-left-radius: 0px;
                }

                &__text {
                    border: 1px solid variaveis.$borderColor;
                    border-top: none;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 8px;
                    border-bottom-left-radius: 8px;
                }
            }
        }
    }
}