@use 'header';
@use 'info_bar';
@use 'sections';
@use 'footer';
@use 'variaveis';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}